
<div>
    <app-header-dashboard [dashboard]="dashboard" [urlBack]="urlBack"></app-header-dashboard>

    <section class="section-view-dashboard">

        <div class="wrapper active">

            <div class="header-wrapper">
                <div class="header-tab">
                    <button [ngClass]="{ 
                        'active': this.onOffTabeHeader.tab01 == true,
                        'in-active': this.onOffTabeHeader.tab01 == false
                    }" (click)="onBtnTabHeader(1)">Dados</button>
                    <button [ngClass]="{ 
                        'active': this.onOffTabeHeader.tab02 == true,
                        'in-active': this.onOffTabeHeader.tab02 == false
                    }" (click)="onBtnTabHeader(2)">Preco</button>
                    <button [ngClass]="{ 
                        'active': this.onOffTabeHeader.tab03 == true,
                        'in-active': this.onOffTabeHeader.tab03 == false
                    }" (click)="onBtnTabHeader(3)">Quantidade</button>
                    <button [ngClass]="{ 
                        'active': this.onOffTabeHeader.tab04 == true,
                        'in-active': this.onOffTabeHeader.tab04 == false
                    }" (click)="onBtnTabHeader(4)">Image</button>
                
                </div>
            </div>
            <!-- Register -->

            <div class="form-box">
                <form [formGroup]="form" (submit)="addProducto()">
                    
                    <app-boxmessage *ngIf="messageBox != ''" 
                    (changeCloseBoxMessage)="onChangeCloseBoxMessage()"
                    [tipoMessage]="tipoMessageBox"
                    [message]="messageBox">

                    </app-boxmessage>

                    <!-- DADOS -->
                    <div [ngClass]="{ 
                        'box': this.onOffTabeHeader.tab01 == true,
                        'box-tab': this.onOffTabeHeader.tab01 == false
                    }">
                        
                        <div class="input-box">
                            <label>Nome do Producto</label>
                            <input type="text" formControlName="nome" id="nome">
                        </div>

                        <div class="input-box">
                            <label>Categoria</label>
                            <select formControlName="categoria" id="categoria">
                                <option *ngFor="let cat of categorias" value="{{ cat.id }}">{{ cat.categoria }}</option>
                            </select>
                        </div>

                        <div class="input-box">
                            <label>Descricao</label>
                            <textarea formControlName="desc" id="desc"></textarea>
                        </div>

                    </div>

                    <!-- PRECO -->
                    <div  [ngClass]="{ 
                        'box': this.onOffTabeHeader.tab02 == true,
                        'box-tab': this.onOffTabeHeader.tab02 == false
                    }">

                        <div class="input-box">
                            <label>Preco de Compra</label>
                            <input type="number" min="1" formControlName="precoCompra" id="precoCompra"
                            placeholder="0.00"/>
                        </div>
                        
                        <div class="input-box">
                            <label>Preco de Venda</label>
                            <input type="number" min="1" formControlName="precoVenda" id="precoVenda"
                            placeholder="0.00"/>
                        </div>

                    </div>

                    <!-- QUANTIDADE -->
                    <div  [ngClass]="{ 
                        'box': this.onOffTabeHeader.tab03 == true,
                        'box-tab': this.onOffTabeHeader.tab03 == false
                    }">

                        <div class="input-box">
                            <label>Quantidade</label>
                            <input type="number" min="1" formControlName="qntd" id="qntd"
                            placeholder="0"/>
                        </div>

                        <fieldset>
                            <legend>Venda</legend>

                            <div class="input-box">
                                <label>Quantidade minima</label>
                                <input type="number" min="1" formControlName="qntdMinima" id="qntdMinima"
                                placeholder="1"/>
                            </div>
                            
                            <div class="input-box">
                                <label>Quantidade maxima</label>
                                <input type="number" min="1" formControlName="qntdMaxima" id="qntdMaxima"
                                placeholder="1"/>
                            </div>

                        </fieldset>

                    </div>

                    <!-- IMAGE -->
                    <div  [ngClass]="{ 
                        'box': this.onOffTabeHeader.tab04 == true,
                        'box-tab': this.onOffTabeHeader.tab04 == false
                    }">

                        <app-imageupload style="width: 100%;"
                        (addFilesEvent)="addFileMessage($event)"
                        (deleteFilesEvent)="deleteFileMessage($event)"
                        (messageFilesEvent)="messageFileMessage($event)"></app-imageupload>

                    </div>

                    <div class="box">
                        
                        <div class="input-box">
                            <div class="controls">
                                <button  type="reset" class="btn">Limpar</button>
                                <button  type="submit" class="btn">Register</button>
                            </div>
                        </div>

                    </div>
                    
                </form>
            </div>

        </div>

    </section>
</div>
